/* .quote{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8QCABXDs7Y5XY1395yHxViAt0W1_LU7tf3sdkrDt8k5XTxcwe) ;
  background-repeat: no-repeat;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  margin-left: 150px;

}
.well{
  margin-left: 150px;
} */
.jumbotron{
  font-size: 25px;
}
