@import "~bootstrap/dist/css/bootstrap.css";
.left-side{
  width:30%;
  float:left;
  min-height: 100vh;

}
.rightside{
  width:67%;
  float:right;
  border-style: solid;
  border-width: medium;
  border-color: #5bc0de;
  margin:5px;
  padding: 5px;
}
.header{
  top:10px;

}
